* {
    font-family: 'courier';
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 150%;
}

.contenedor {
    position: relative;
    height: 100vh;
}

.fondo-contenedor {
    position: relative;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fondo-contenedor fondo {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate (-50% -50%);
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
}

.fondo {
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}


.text-area {
    background: transparent;
    border: none;
    color: goldenrod;
    margin-top: 20px;
    text-transform: lowercase;

}

::placeholder {
    color: goldenrod;
}

.text-area:focus {
    outline: none;
}

.informacion {
    font-size: 22px;
    color: #F4D03F;


}

.mensaje {

    background-image: url("imagenes/Ningun\ mensaje\.png");
    background-position: center;
    background-color: transparent;
    background-size: 760px;
    background-repeat: no-repeat;
    border-radius: 24px;
    color: black;
    margin-left: 98px;
    margin-top: 10px;
    padding-left: 20px;
    position: absolute;


}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;

}

.btn-desencriptar {
    background: transparent;
    border: 1px solid yellow;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 2.5);

}

.btn-encriptar {
    background: transparent;
    border: 1px solid yellow;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 2.5);


}

.btn-copiar {

    border: 1px solid yellow;
    border-radius: 20px;
    color: goldenrod;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 475px;
    position: absolute;
    width: 336px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 2.5);
    background: transparent;
    display: none;
}

.redesSociales {
    background-color: #F4D03F;
    background-image: url("imagenes/bg.jpg");
    display: block;
    justify-content: center;
    align-items: center;

}

.iconos {
    min-width: 700px;
    display: flex;
    justify-content: space-around;

}

.iconos a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #315652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
    transition: all .4s ease-in-out;
}

.iconos a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    padding: 50px;
    color: white;
    bottom: 0;
    left: 0;


}

.copyright {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;

}

@media tag and (max-width:1024px)  {
    .text-area {
        font-size: 22px;
        width: 100%;
        margin-left: -60px;
    }

    .informacion {
        width: 100%;
        font-size: 22px;
        margin-left: -60px;
    }

    .btn-encriptar {
        font-size: 22px;
        margin-top: 15px;
        height: 60px;
        width: 250px;
        margin-left: -70px;
    }

    .btn-desencriptar {
        font-size: 22px;
        margin-top: 15px;
        width: 250px;
        height: 60px;
        margin-left: 50px;

    }

    .mensaje {
        margin-left: 50px;
        margin-top: 10px;
        padding-left: 20px;
        height: 80%;
    }

    .btn-copiar {
        height: 60px;
        margin-left: 108px;
        margin-top: 410px;
        width: 280px
    }
}

@media screen and (max-width:480px) {

    * {
        line-height: normal;
    }

    .redesSociales {
        width: 90%;
        position: absolute;
        padding: 20px;
    }

    .fondo {
        width: 100%;
    }

    .text-area {
        width: 100%;
        font-size: 20px;
        margin-left: -60px;

    }

    .informacion {
        width: 100%;
        font-size: 18px;
        margin-left: -60px;
    }

    .btn-encriptar {
        font-size: 18px;
        margin-top: 15px;
        height: 40px;
        width: 150px;
        margin-left: -70px;
    }

    .btn-desencriptar {
        font-size: 18px;
        margin-top: 15px;
        width: 150px;
        height: 40px;
        margin-left: 50px;

    }

    .mensaje {
        background-size: 600px;
        width: 90%;
        font-size: 22px;
        margin-top: 90%;
        margin-left: -100%;

    }

    .btn-copiar {
        position: absolute;
        margin-left: -300px;
        width: 107px;
        margin-top: 135%;
        font-size: 18px;
        height: 40px;
    }

    .iconos {
        min-width: 250px;
        display: flex;
        justify-content: space-around;
    }
}